[Desktop Entry]
Name=Flippoid
Comment=A Plasmoid that turns upside down (almost) any text you may want to enter!
Icon=format-text-direction-rtl
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_flippoid
X-KDE-PluginInfo-Author=Riccardo Iaconelli
X-KDE-PluginInfo-Email=riccardo@kde.org
X-KDE-PluginInfo-Name=flippoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.ruphy.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

